/*==========

Universal Styling

==========*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*==========

Text Styling

==========*/

@font-face {
  font-family:'louis-george-cafe';
  src: url('../fonts/louis-george-cafe.ttf') format('truetype');
}

@font-face {
  font-family:'louis-george-cafe-bold';
  src: url('../fonts/louis-george-cafe-bold.ttf') format('truetype');
}

h1,
h2,
h3 {
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  text-align: center;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 28px;
  padding: 10px 0;
}

h3 {
  font-size: 18px;
  padding: 10px 0;
}

p {
  font-family: 'louis-george-cafe', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.name {
  font-family: 'louis-george-cafe-bold', sans-serif;
}

/*==========

Header Styling

==========*/

header {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 9;
}

header nav li {
  display: inline-block;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'louis-george-cafe', sans-serif;
  color: white;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-right: 20px;
}

/*==========

Hero Section Styling

==========*/

.hero {
  background: url("../images/thebandcamino_wswt.jpg") right/cover no-repeat fixed;
  min-height: 100vh;
  position: relative;
}

.hero h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  text-shadow: 1px 1px 4px black;
  position: absolute;
  bottom: 10%;
  right: 15%;
}

/*==========

Main Content Styling

==========*/

.main-content {
  width: 900px;
  padding: 10px;
  margin: 0 auto;
}

.main-content img {
  float: left;
  max-width: 250px;
  margin: 45px 30px 5px 0;
}

.main-content-heading {
  margin: 30px 0 0 0;
}

/*==========

Button Styling

==========*/

.official-page a {
  text-decoration: none;
  color: black;
}
